*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #fff5e6;
  background: linear-gradient(90deg, #fff5e6, #ffd699);
}

header{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 1.8vw;
  font-family: Arial;
}

p{
  text-align: justify;
  font-size: 2vw;
}

#nytForm{
	width:100%;
	text-align: center;
}

#articles{
	float: left;
	flex:60%;
	text-align: center;
}

#details{
	display:flex;
	float: left;
  flex: 40%;
  color: black;
  text-align: left; 
}

@media (min-width: 320px){
     /*For mobiles: */
    .row {
  	display: flex;
  	flex-direction: column;
  }
  
    .column, {
      flex:100%;
  }
}

@media (min-width: 426px){
   /*For tablets: */
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .column, {
    width: 100%;
  }
}

@media (min-width: 1024px)) {
   /*For desktops: */
  .row {
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .column, {
    width: 100%;
  }
}


